body {
  margin: 0;
  background-color: #f7e7c9; 
  color: #704c33; 
  line-height: 1.6;
  word-break: keep-all;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #9d9167; 
  padding: 7px;
  text-align: center;
}

header h1 a {
  color: #442d1c;
  text-decoration:none;
}

header p {
  margin: 10px 0 0;
}

#play {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: #704c33;
}

nav {
  margin-top: 130px; 
  background-color: #442d1c;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px;
}

nav li {
  cursor: default;
  font-weight: bold;
}

nav .blue { color: #ebd1a7; }
nav .red { color: #bcaf88; }
nav .yellow { color: #e2c791; }
nav .pink { color: #c98c79; }

section {
  border-bottom: 1.2px solid #704c33;
  text-align: center;
}

section .blue { color: #442d1c; }
section .red { color: #7b7c41; }
section .yellow { color: #a57546; }
section .pink { color: #743014; }

article {
  margin:0 auto 30px;
  max-width: 700px;
}

figure {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

img {
  width: 200px;
  height: auto;
  vertical-align: middle;
}

figcaption {
  margin-top: 5px;
  font-size: 12px;
  color: #9d9167;
}

footer {
  text-align: center;
  padding: 15px 0;
  color: #442d1c;
  background-color: #bcaf88;
}
